.permissionList {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: var(--mantine-spacing-xs);

    &::before {
      content: '\2022';
      position: absolute;
      left: 0;
      color: var(--mantine-color-dimmed);
      opacity: 0.5;
    }
  }
}

.tooltipRow {
  display: flex;
  overflow: hidden;
}

.methodBadge {
  flex-shrink: 0;
}

.rtlPath {
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.helpCursor {
  cursor: help;
}
